@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');
@import url('./blocks/button/button.css');
@import url('./blocks/card/card.css');
@import url('./blocks/cards/cards.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/header/header.css');
@import url('./blocks/page/page.css');
@import url('./blocks/popup/popup.css');
@import url('./blocks/profile/profile.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 922px;
  margin: 0 auto;
  padding: 45px 20px 60px 20px;
  box-sizing: border-box;
  background: #000000;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

